# --- Rust / Cargo ---
# Le dossier target contient tous les fichiers compilés (très lourds)
target/
# Les exécutables générés par rustc en dehors de cargo
*.exe
# Les fichiers de symboles de débogage (Windows)
*.pdb
*.db

# --- VS Code ---
# .vscode/

# --- Divers ---
# Fichiers temporaires ou logs
*.log
.DS_Store
Thumbs.db
